<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">
<link rel="import" href="../bower_components/neon-animation/web-animations.html">

<dom-module id="chat-view">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
      .chatWindow{
        height:450px;
        overflow: auto;
        border:1px solid #d1d1d1;
      }
      .chatWindow ul li{
        list-style-type: none;
        padding: 15px;
        border: 1px solid #d1d1d1;
        border-radius: 20px;
        width: 80%;
        margin-bottom: 15px;
        float: left;
        background: #EDE7F6;
      }
      li.myReply{
        float: right !important;
        clear: both;
        margin-right:40px;
        background: #E3F2FD !important;
      }
      li.hideRow{
        display:none;
      }
      .spnName{
        display: block;
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 5px;
      }
      .spnMsg{
        display:block;
        margin-bottom: 10px;
      }
      .spnTime{
        display:block;
        font-size:12px;
      }
      .enterChat{
        border: 1px solid #d1d1d1;
        width: 99.8%;
        display: block;
        height: 53px;
      }
      .card{
        margin: 0px auto;
        width: 50%;
      }
      #nativeInput{
        height: 50px;
        margin-top: -26px;
      }
    </style>

    <div class="card">
      <iron-ajax auto url="http://192.168.1.118:8080/chatRooms" handle-as="json" last-response="{{data}}" ></iron-ajax>
      <paper-dropdown-menu label="Chat Room" name="chatRoomDrop">
          <!-- <paper-listbox slot="dropdown-content" class="dropdown-content">
          <paper-item>Web development</paper-item>
          <paper-item>Release Management</paper-item> -->
          <paper-listbox slot="dropdown-content" class="dropdown-content" on-iron-select="_symbolSelected">
              <template is="dom-repeat" items="[[data.chatRoomsList]]">
                  <paper-item value="[[item.chatroomId]]">[[item.chatroomname]]</paper-item>
              </template>
          </paper-listbox>
        </paper-listbox>
      </paper-dropdown-menu>
      <!--Code for Chat window Starts - Abhilas -->
        <iron-ajax id="chatGetMessages"
          params='{}'
          handle-as="json"
          debounce-duration="300"
          last-response="{{chatDataResponse}}"></iron-ajax>

        <div class="chatWindow">
          <ul>
            <template is="dom-repeat" items="{{chatDataResponse}}">
              <li class$="{{getClassName(item)}}">
                <span class="spnName">[[item.username]]</span>
                <span class="spnMsg">[[item.message]]</span>
                <span class="spnTime">[[item.timestamp]]</span>
              </li>
            </template>
          </ul>          
        </div>
        <paper-input id="enterText" placeholder="Enter Text" name="enterText" class="enterChat" on-keydown="enterPressed">Enter Text</paper-input>
        

      <!--Code for Chat window Ends - Abhilas -->
    </div>

    <!--Code for Ajax Post starts - Abhilas -->
    <iron-ajax id="postChatMessages"
          url="http://192.168.1.118:8080/message"
          method='post'
          handle-as="json"
          content-type="application/json"
          body='{{sendvalues}}'
          on-response="_handleResponse"
          on-error="_handleErrorResponse"></iron-ajax>

    <!--Code for Ajax Post ends - Abhilas -->

  </template>

  <script>
    class ChatView extends Polymer.Element {
      static get is() { return 'chat-view'; }

      static get properties(){
        return{
          userId :{
            type:String,
            value:{}
          },
          chatRoomId:{
            type:Number,
            value:{}
          },
          sendvalues:{
            type:Object,
            value:{}
          },
          delay:{
            type:Number,
            value:2000
          }
        }
      }

      _symbolSelected (e) {
        this.chatRoomId = e.target.selectedItem.value;
        console.log(this.chatRoomId);

        //calling the Iron ajax to get the messages
        this.$.chatGetMessages.url="http://192.168.1.118:8080/" + this.chatRoomId + "/messages";
        this.$.chatGetMessages.generateRequest();
      }

      // Get data from Query string
      ready(){
        super.ready();
        let qrStr = window.location.search;
        if(qrStr){
          qrStr = qrStr.split("?")[1].split("=")[1];
          this.userId = qrStr;
        }
        setInterval(this.getMessageHistory, 1000);
      }

      getMessageHistory(){
        if(this.chatRoomId){
          //calling the Iron ajax to get the messages
          this.$.chatGetMessages.url="http://192.168.1.118:8080/" + this.chatRoomId + "/messages";
          this.$.chatGetMessages.generateRequest();
          console.log('interval called');
        }
      }

      getClassName(usernames){
        // if(!userName){
        //   return "hideRow"
        // }
        if(this.userId === usernames.username){
          return "myReply";
        }
      }      

      postChatData(){
        // Setting the parameters for the Post
        this.sendvalues = {
          "message" : this.$.enterText.value,
          "userName": this.userId,
          "chatRoomId" : this.chatRoomId
        }
        // Calling the Ajax on Request
        this.$.postChatMessages.generateRequest();
      }

      enterPressed(e){
        if (e.keyCode === 13) {
            // enter pressed!
            this.postChatData();            
        }       
      }

      _handleResponse(event,Request){
        console.log(Request.response);
        if(Request.response.status === "success"){
          this.$.enterText.value = "";
          //calling the Iron ajax to get the messages
          // this.$.chatGetMessages.url="http://192.168.1.118:8080/" + this.chatRoomId + "/messages";
          // this.$.chatGetMessages.generateRequest();

          this.getMessageHistory();
        }
      }

      _handleErrorResponse(event){
        console.log(event);
      }

      
    }

    window.customElements.define(ChatView.is, ChatView);
  </script>
</dom-module>
