<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">

<dom-module id="chat-view">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
      .chatWindow{
        height:450px;
        overflow: auto;
        border:1px solid #d1d1d1;
      }
      .chatWindow ul li{
        list-style-type: none;
        padding: 15px;
        border: 1px solid #d1d1d1;
        border-radius: 20px;
        width: 90%;
        margin-bottom: 15px;
        float: left;
        background: #EDE7F6;
      }
      li.myReply{
        float: right !important;
        clear: both;
        margin-right:40px;
        background: #E3F2FD !important;
      }
      .spnName{
        display: block;
        font-size: 14px;
        font-weight: bold;
      }
      .spnMsg{
        display:block;
        margin-bottom: 10px;
      }
      .spnTime{
        display:block;
        font-size:12px;
      }
      .enterChat{
        border: 1px solid #d1d1d1;
        width: 99.8%;
        display: block;
        height: 60px;
      }
    </style>

    <div class="card">
      <!--Code for Chat window Starts - Abhilas -->
        <iron-ajax id="chatGetMessages"
          params='{}'
          handle-as="json"
          debounce-duration="300"
          last-response="{{chatResponse}}"></iron-ajax>

        <div class="chatWindow">
          <ul>
            <template is="dom-repeat" items="{{chatResponse}}">
              <li class$="{{getClassName(item.userName)}}">
                <span class="spnName">[[item.userName]]</span>
                <span class="spnMsg">[[item.chatMessage]]</span>
                <span class="spnTime">[[item.timeStamp]]</span>
              </li>
            </template>
          </ul>          
        </div>
        <paper-textarea class="enterChat" aria-placeholder="Enter Text" 
          placeholder="Enter Text"
          on-value-changed="callMe"></paper-textarea>
        

      <!--Code for Chat window Ends - Abhilas -->
    </div>
  </template>

  <script>
    class ChatView extends Polymer.Element {
      static get is() { return 'chat-view'; }

      static get properties(){
        return{
          userId :{
            type:String,
            value:{}
          },
          chatRoomId:{
            type:Number,
            value:{}
          }
        }
      }

      // Get data from Query string
      ready(){
        super.ready();
        let qrStr = window.location.search;
        if(qrStr){
          qrStr = qrStr.split("?")[1].split("=")[1];
          this.userId = qrStr;
          console.log(this.userId);
        }
        this.chatRoomId = 1; 

        //calling the Iron ajax to get the messages
        this.$.chatGetMessages.url="http://192.168.1.119:7777/" + this.chatRoomId + "/messages";
        this.$.chatGetMessages.generateRequest();
      }

      getClassName(username){
        if(this.userId === username){
          return "myReply";
        }
      }

      callMe(){
        console.log('hi');
      }


    }

    window.customElements.define(ChatView.is, ChatView);
  </script>
</dom-module>
